
.input-field input:focus + label {
  color: #795548 !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #795548 !important;
  box-shadow: 0 1px 0 0 #795548 !important
}

.authCard {
  margin-top: 20px;
}
