
<div class="container">
<h3>Books</h3>
  <div class="input-field col s6 right">
    <input placeholder="Search" id="search" [(ngModel)]="tosearch" (keyup)="search()" type="text" class="validate">
  </div>
  <p class="col s12 right" style="margin:25px 10px 0 0"><label>{{searchMsg}}</label>   </p>
<table>
  <thead>
  <tr style="background-color: #795548; color: white">
    <th style="width: 5%; border: 1px solid">№</th>
    <th style="width: 15%; border: 1px solid">
      <a (click)="sortByAuthor()" class="pointer">
        <span *ngIf="authorSortTriger">⇧</span>
        <span *ngIf="!authorSortTriger && authorSortTriger != null">⇩ </span>Author
      </a>
    </th>
    <th style="width: 30%; border: 1px solid">
      <a (click)="sortByTitle()" class="pointer">
        <span *ngIf="titleSortTriger">⇧</span>
        <span *ngIf="!titleSortTriger && titleSortTriger != null">⇩ </span>Title
      </a>
    </th>
    <th style="width: 20%; border: 1px solid">
      <a (click)="sortByRating()" class="pointer">
        <span *ngIf="ratingSortTriger">⇧</span>
        <span *ngIf="!ratingSortTriger && titleSortTriger != null">⇩ </span>Rating
      </a>
    </th>
    <th style="width: 20%; border: 1px solid">
      <a (click)="sortByStatus()" class="pointer">
        <span *ngIf="statusSortTriger">⇩</span>
        <span *ngIf="!statusSortTriger && statusSortTriger != null">⇧ </span>Status
      </a>
    </th>
    <th style="width: 10%; border: 1px solid">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let book of books; let i = index" [attr.data-index]="i"  style="border: 1px solid darkgray">
    <th>{{i+1}}</th>
    <td (click)="open(book)" class="pointer">{{book.author}}</td>
    <td (click)="open(book)" class="pointer">{{book.title}}</td>
    <td>
      <rating (click)="updateRating(book)" [(ngModel)]="book.rating"
              [max]="5" [titles]="['one', 'two', 'three', 'four', 'five']">
      </rating>
    <td>
      <div class="switch">
        <label>
          Off
          <input (click)="updateStatus(book)" [(ngModel)]="book.status" type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </td>
    <td>
      <a [routerLink]="['../edit',book._id]" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">mode_edit</i></a>
      <a (click)="deleteBook(book._id)" class="btn-floating right btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
    </td>
  </tr>
  </tbody>
</table>

  <div class="col s8 offset-s2" *ngIf="showBook">
    <div class="card horizontal">
      <div class="card-image">
        <img src="../../../img/noimg.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>{{showBook.author}} - {{showBook.title}}</h3>
          <p>{{showBook.rating}}</p>
          <p>{{showBook.description}}</p>
        </div>
        <div class="card-action">
          <a target="_blank" href="http://localhost:3000/files/{{showBook.url}}">Download</a>
          <a (click)="showBook = null" class="right">Close</a>
        </div>
      </div>
    </div>
  </div>

</div>
